body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px 30px 20px;
}

h1 {
    font-size: 45px;
    color: #0d2c40;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0;
    

}

p {
    font-family: "Droid Serif", serif;
    font-style: italic;
 
}

.anchor_one {
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-right: 12px;

}



.anchor_two {
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-left: 12px;
}

main {
    width: 850px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid transparent;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
   
}

img {
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 8px;
}

footer {
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;

}

.copyright {
    float: left;
    font-family: "Raleway", sans-serif;
}

.name {
    color: #F15B31;
    font-weight: 700;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

a:hover {
     color: white;
}

.floated {
    float: right;
}

.inst {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
}

